.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}


/* Do Not Remove this - This is original styling- Remove this at end*/


/* .modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.modal-main {
    position: fixed;
    border-radius: 7px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    z-index: 10000;
    border: 2px solid gray;
    background-color: rgba(255, 255, 255, 0.91);
}


/*For Desktop Screen */

@media screen and (min-width: 992px) {
    .modal-main {
        width: 550px;
    }
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}


/* Custom Dilog box */


/* #dialogbox {
    display: block;
    position: fixed;
    border-radius: 7px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    z-index: 10000;
    border: 2px solid gray;
    background-color: rgba(255, 255, 255, 0.91);
} */


/*For Desktop Screen */


/* @media screen and (min-width: 992px) {
    #dialogbox {
        width: 550px;
    }
} */


/* #dialogbox>div {
    margin: 8px;
}

#dialogbox>div>#dialogboxhead {
    background-color: black;
    font-size: 19px;
    padding: 10px;
    color: #CCC;
} */

.centeredPrompt {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 15px;
}

.centeredPrompt__item+.centeredPrompt__item {
    margin-top: 5px;
}

.centeredPromptIcon {
    font-size: 65px;
    line-height: 0;
}

.centeredPromptLabel {
    color: #0D375A;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.centeredPromptDetails {
    color: #0D375A;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.icon {
    color: #3298FC;
}