@import url(//db.onlinewebfonts.com/c/e3e3a81b2544f4508a75573a04e0cafa?family=ITC+Korinna);
@font-face {
    font-family: 'Swiss911ExtraCompressedBT';
    src: url('./fonts/Swiss911ExtraCompressedBT.ttf');
}


/* Input Control Styles */

.inputControlStyles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(126, 131, 173);
    background-color: #FBFBFD;
    background-color: #F5F5F7;
}


/* Small Screen */

@media all and (max-width: 992px) {
    .inputControlStyles {
        margin-top: 20%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.game-board {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 90px 90px 90px 90px;
    justify-content: center;
    /* grid-auto-flow: column; */
}

.game-heading-board {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 90px;
    justify-content: center;
}

.game-clue-board {
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: 90px 90px 90px;
    justify-content: center;
    grid-auto-flow: column;
}

@media all and (max-width: 992px) {
    .game-board {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 80px 80px 80px 80px;
        /* grid-auto-flow: column; */
    }
    .game-heading-board {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 80px;
    }
    .game-clue-board {
        grid-template-columns: 100px;
        grid-template-rows: 80px 80px 80px;
    }
}

.box {
    background-color: #0A0F6B;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingCat {
    font-family: 'ITC Korinna', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.clueCat {
    font-family: 'Swiss911ExtraCompressedBT';
    color: #D19749;
    font-size: 40px;
}


/* #catOneQueAnsTwoHund {
    background-color: rgba(76, 65, 71, 0.3);
} */


/* Next Round Button */

.nextRoundBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.nextRoundBtn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nextRoundBtn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: shine 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.nextRoundBtn:active {
    color: #000
}

.nextRoundBtn:active:after {
    background: transparent;
}

.nextRoundBtn:hover:before {
    opacity: 1;
}

.nextRoundBtn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes shine {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}