/* Next Round Button */

.viewControlContainer {
    background-color: #F5F5F7;
    padding-bottom: 2%;
}

h1 {
    padding: 2%;
    font-size: 30px;
}

.FirstRoundHolderContainer {
    background-color: #FBFBFD;
    background-color: #F5F5F7;
    padding: 2%;
}

.nextRoundBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #F5F5F7;
}

.nextRoundBtn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nextRoundBtn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: shine 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.nextRoundBtn:active {
    color: #000
}

.nextRoundBtn:active:after {
    background: transparent;
}

.nextRoundBtn:hover:before {
    opacity: 1;
}

.nextRoundBtn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes shine {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}